
body {
    background-image: url('img/DIMCO1.jpeg');
    background-size: cover; /* Ajusta el tamaño de la imagen al tamaño del contenedor */
    background-position: center; /* Centra la imagen en el contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed; /* Fija la imagen en su posición mientras se desplaza la página */
    /* Puedes agregar más propiedades según tus necesidades */
}
.navigation-body{
    background: url('img/DIMCO1.jpeg') rgba(0, 0, 0, 0.3);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    
}

.sign{
    background-color: #1706b1;

}


.navbar-nav li {
    position: relative;
    list-style: none;
}

.navbar-nav li a {
    text-decoration: none;
    position: relative;
    color: #fff; /* Cambia el color del texto según tus preferencias */
}

.navbar-nav li a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px; /* Grosor de la línea de subrayado */
    bottom: 0;
    left: 0;
    background-color: #007bff; /* Cambia el color de la línea según tus preferencias */
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

.navbar-nav li a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

.carousel-item {
    /* height: 80vh; */
    min-height: 100px;
   }
   
   .carousel-caption {
       bottom: 200px;
       z-index: 2;
   }
   .blockwhite{
    
    background-color: rgba(255,255,255,0.3);
    
   }
   .carousel-caption {
    position: absolute;
    right: auto; /* Elimina o reduce este valor si quieres que el texto se extienda hacia la derecha */
    bottom: 50%; /* Aumenta este valor para mover el bloque de texto hacia arriba */
    left: 15px;
    z-index: 10;
    color: #fff;
    text-align: left;
}

.carousel-caption h1 {
    font-weight: bold;

}
.carousel-caption p {
    padding: 10px;
    display: inline-block;
    font-weight: bold;
}

.text-block2{
background-color: rgba(0, 0, 0, 0.945);
width: 200px;

}




/* Si necesitas ajustar la posición vertical del texto, puedes cambiar el margen superior del primer elemento h5 o p */
.carousel-caption h5 {
    margin-top: 100; /* Ajusta o elimina este valor según sea necesario */
}

   


/* .carousel-inner::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgb(0, 30, 82, 0.327);
    z-index: 1;
} */


/*Efecto de pulsacion al boton de solicitar*/
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.pulse-effect{
    animation: pulse 1s infinite;
}


/* estilos de los iconos */
.contact-icons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    gap: 30px;
}

.contact-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    margin-bottom: 10px;
    text-decoration: none;
    overflow: hidden;
}


.contenedorRedes {
    margin-top: 100px;
    
    /* height: 300px;
    width: 300px;
    margin: 140px 0; */
}

.redes {
    margin-right: 0; /* Ajusta el margen a la derecha */
    padding-right: 0; /* Ajusta el padding a la derecha */
    /* width: 16%; */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Alinea los elementos a la derecha */
    cursor: grab;
    /* position: fixed; */
}

.lista {
    position: relative;
    transform: translate(120px); /* Ajusta la traslación hacia la derecha */
    list-style: none;
    padding: 10px 0;
    margin: 20px 0;
    transition: .5s;
    width: 170px;
    border-radius: 200px; /* Bordes del color de fondo */
}

.lista:hover:nth-child(1) {
    background: #21ce11;
}

.lista:hover:nth-child(2) {
    background: #ec0909;
}

.lista:hover:nth-child(3) {
    background: blueviolet;
}

.lista:hover {
    transform: translateX(0);
}

.linkr {
    font-weight: bold;
    color: #fff;
    font-family: sans-serif;
    text-decoration: none;
    padding-right: 10px; /* Ajusta el padding a la derecha */
}

i {
    margin-right: 15px; /* Ajusta el margen a la derecha */
    padding: 10px 10px;
    border-radius: 100%;
    color: #000;
    background: #fff;
}

.icon {
    font-size: 20px;
}

.whatsapp {
    position: relative;
    right: 90px; /* Ajusta la posición hacia la derecha */
}

.correo {
    position: relative;
    right: 65px; /* Ajusta la posición hacia la derecha */
}

.telefono {
    position: relative;
    right: 75px; /* Ajusta la posición hacia la derecha */
}



@media (max-width: 991px){
    .sidebar{
        background-color: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(10px);
    }

}
@media (max-width: 768px){
    .sidebar{
        background-color: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(10px);
    }

}



@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


/* Estilos para pantallas pequeñas */
@media (max-width: 600px) {
    /* Aplica estilos específicos para pantallas pequeñas */
    
}

/* Estilos para pantallas medianas */
@media (min-width: 601px) and (max-width: 900px) {
    /* Aplica estilos específicos para pantallas medianas */
    
}

/* Estilos para pantallas grandes */
@media (min-width: 901px) {

    
    /* Aplica estilos específicos para pantallas grandes */
}

.slide{
    position: relative;

}

.align-content{
    position: absolute;
    top: 110px;
}